/*typography fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*css variables*/
:root {
  --max-width: 1600px;
  --primary-container-width: 80%;
  --second-container-width: 100%;
}

.twitter {
  mask-image: url("../../assets/icons/twitter (4).svg");
  -webkit-mask-image: url("../../assets/icons/twitter (4).svg");
}

.instagram {
  mask-image: url("../../assets/icons/instagram (2).svg");
  -webkit-mask-image: url("../../assets/icons/instagram (2).svg");
}

.facebook {
  mask-image: url("../../../assets/icons/facebook (2).svg");
  -webkit-mask-image: url("../../../assets/icons/facebook (2).svg");
}

.linkedin {
  mask-image: url("../../../assets/icons/linkedin (4).svg");
  -webkit-mask-image: url("../../../assets/icons/linkedin (4).svg");
}

.primary-container {
  max-width: var(--max-width);
  width: var(--primary-container-width);
  margin: 0 auto;
}

/*CSS FONTS*/
:root {
  --primary-font: "Roboto", serif;
  /* Typography Size */
  --title-h1: 50px;
  --title-h2: 35px;
  --title-h3: 25px;
  --title-h4: 20px;
  --title-h5: 18px;
  --title-h6: 16px;
  --paragraph-p: 12px;
  --paragraph-p2: 14px;
  /* Typography Weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extraBold: 800;
  --font-weight-black: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1 {
  font-size: var(--title-h1);
}

h2 {
  font-size: var(--title-h2);
}

h3 {
  font-size: var(--title-h3);
}

h4 {
  font-size: var(--title-h4);
}

h5 {
  font-size: var(--title-h5);
}

h6 {
  font-size: var(--title-h6);
}

p {
  font-size: var(--paragraph-p);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/*Colors Css*/
:root {
  --primary-color: #CC3333;
  --second-color: #2A435D;
  --third-color: #FFF8EE;
  --link-color: #4BFF3C;
  --white-color: #FFFFFF;
  --box-shadow-one-color: rgba(0, 0, 0, 0.25);
  --box-shadow-second-color: rgba(0, 0, 0, 0.120);
  --gradient-one-color: #FFDFDF;
}

/*
.button-primary {
    @include button-style(300px, 60px,var(--white-color) , var(--font-weight-bold), var(--title-h2), var(--primary-color), 20px);
}
    */
body {
  background-color: var(--third-color);
}

/*Hero*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: auto;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
}

.hero__carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
}

.hero__extras {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero__icon {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  color: var(--primary-color);
}

.hero__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero__dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: inset 0 0 0 2px var(--primary-color);
}

.hero__carousel .hero__dot--active {
  background-color: var(--primary-color);
  box-shadow: none;
}

/*Popular dishes*/
.popular-dishes {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-dishes__content {
  text-align: center;
}
.popular-dishes__subtitle {
  color: var(--second-color);
  font-weight: var(--font-weight-bold);
}
.popular-dishes__title {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
}
.popular-dishes__gallery {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.popular-dishes__image {
  max-width: 230px;
  max-height: 120px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 8px var(--box-shadow-one-color);
}
.popular-dishes__image img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.popular-dishes__link:hover {
  transform: scale(1.1);
}

/*RICH & HEALTHY*/
.rich-health {
  margin-top: 50px;
}
.rich-health__container {
  margin: 0 auto;
}
.rich-health__header {
  text-align: center;
}
.rich-health__title {
  font-size: var(--title-h4);
  font-weight: var(--font-weight-bold);
  color: var(--second-color);
}
.rich-health__content {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 0.7fr;
  grid-template-rows: 100px 110px 1fr 1fr;
  grid-column-gap: 30px;
  max-height: 600px;
  margin-top: 15px;
}
.rich-health__heading {
  grid-area: 1/2/2/3;
  font-size: var(--title-h2);
  font-weight: var(--font-weight-bold);
  color: var(--primary-color);
  text-wrap: balance;
}
.rich-health__description {
  grid-area: 2/2/3/4;
  font-size: var(--title-h3);
  font-weight: var(--font-weight-normal);
  color: var(--second-color);
  width: 700px;
  max-width: 80%;
}
.rich-health__list {
  grid-area: 3/2/4/3;
}
.rich-health__list-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-top: 22px;
}
.rich-health__icon {
  color: var(--primary-color);
  width: 20px;
  height: 20px;
  fill: var(--primary-color);
}
.rich-health__item-description {
  color: var(--second-color);
  font-size: var(--title-h3);
  font-weight: var(--font-weight-normal);
}
.rich-health__btn {
  grid-area: 4/2/5/3;
  width: 300px;
  height: 60px;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-h2);
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}
.rich-health__image {
  grid-area: 3/3/5/4;
}
.rich-health__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.rich-health__aside {
  grid-area: 1/1/5/2;
}
.rich-health__aside img {
  width: 100%;
  max-width: 361px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

/*Bigg offer*/
.big-offer {
  margin-top: 50px;
}
.big-offer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  gap: 15px;
}
.big-offer__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.big-offer__title {
  font-size: var(--title-h1);
  color: var(--primary-color);
  font-weight: var(--font-weight-extraBold);
  font-style: italic;
}
.big-offer__description {
  font-size: var(--title-h4);
  color: var(--second-color);
  font-weight: var(--font-weight-bold);
}

/*SPECIALS MENU*/
.menu {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  /*List menu*/
}
.menu__header {
  text-align: center;
}
.menu__subtitle {
  color: var(--primary-color);
  font-size: var(--title-h4);
  font-weight: bold;
  margin-bottom: 10px;
}
.menu__title {
  color: var(--second-color);
  font-size: var(--title-h2);
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
}
.menu__description {
  color: var(--second-color);
  font-size: var(--paragraph-p2);
  font-weight: var(--font-weight-normal);
  margin-bottom: 10px;
}
.menu__categories {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
.menu__category {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.menu__category--border-left {
  border-left: 1px solid black;
}
.menu__category-title {
  font-weight: var(--font-weight-normal);
  color: var(--primary-color);
}
.menu__category-title--active {
  width: 100%;
  height: 60px;
  color: var(--white-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--title-h3);
  background-color: var(--primary-color);
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__items {
  margin-top: 22px;
  display: grid;
  grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.menu__arrow--right {
  grid-area: 1/1/2/2;
}
.menu__arrow--left {
  grid-area: 1/4/2/5;
}
.menu__preview {
  grid-area: 1/2/2/3;
}
.menu__list {
  grid-area: 1/3/2/4;
  max-width: 506px;
  width: 506px;
}
.menu__item {
  margin-top: 15px;
}
.menu__item-title {
  color: var(--primary-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--title-h3);
}
.menu__item-description {
  color: var(--second-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--title-h5);
  margin-top: 5px;
}
.menu__item-footer {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}
.menu__item-separator {
  height: 2px;
  display: inline-block;
  width: 100%;
  border-bottom: 2px dashed var(--primary-color);
  top: 0;
}
.menu__item-price {
  color: var(--primary-color);
  font-size: var(--title-h4);
  font-weight: var(--font-weight-bold);
}
.menu__preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu__preview-img {
  max-width: 489px;
  max-height: 615px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu__preview-overlay {
  cursor: pointer;
  width: 489px;
  max-width: 489px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  background-color: var(--primary-color);
  color: var(--third-color);
}
.menu__preview-text {
  flex: 1;
  text-align: center;
}
.menu__preview-icon {
  width: 40px;
  height: 40px;
  color: var(--third-color);
}
.menu__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
.menu__arrow svg {
  cursor: pointer;
}
.menu__arrow--left svg {
  transform: scaleX(-1);
}

/*Specials menu*/
.specials {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.specials__title {
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 33px;
}
.specials__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.specials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 20px;
  cursor: pointer;
  color: var(--primary-color);
  box-shadow: 0px 0px 8px 1px var(--box-shadow-one-color);
}
.specials__item-description {
  color: unset;
  font-size: var(--title-h3);
  font-weight: var(--font-weight-normal);
  text-align: center;
}
.specials__item-img {
  width: 108.3px;
  height: 86px;
  border-radius: 10px;
}
.specials__item:hover {
  background-color: var(--primary-color);
  color: var(--third-color);
}

/*Our Restaurant*/
.restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.restaurant__container {
  display: grid;
  grid-template-columns: repeat(2, 235px) 2fr;
  grid-template-rows: 40px repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.restaurant__subtitle {
  grid-area: 1/3/2/4;
  color: var(--primary-color);
  font-size: var(--title-h4);
  font-weight: var(--font-weight-bold);
  align-self: end;
}
.restaurant__title {
  color: var(--second-color);
  font-size: var(--title-h2);
  font-weight: var(--font-weight-bold);
  max-width: 509px;
}
.restaurant__description {
  color: var(--second-color);
  font-size: var(--title-h5);
  font-weight: var(--font-weight-normal);
  max-width: 710px;
}
.restaurant__all {
  grid-area: 2/3/3/4;
}
.restaurant__highlight-title {
  color: var(--primary-color);
  font-size: var(--title-h2);
  font-weight: var(--font-weight-bold);
}
.restaurant__highlight-text {
  color: var(--second-color);
  font-size: var(--title-h5);
  font-weight: var(--font-weight-normal);
  max-width: 640px;
}
.restaurant__highlight-one {
  grid-area: 3/3/4/4;
}
.restaurant__highlight-second {
  grid-area: 4/3/5/4;
}
.restaurant__highlight-second, .restaurant__highlight-one {
  display: flex;
}
.restaurant__highlight-img {
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--primary-color);
}
.restaurant__highlight-img img {
  width: 50px;
  height: 50px;
}
.restaurant__highlight-second {
  grid-area: 4/3/5/4;
}
.restaurant__gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__gallery-item--one {
  grid-area: 3/1/5/3;
  width: 470px;
  height: 320px;
}
.restaurant__gallery-item--one img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
.restaurant__gallery-item--second {
  grid-area: 2/1/3/2;
  width: 230px;
  height: 153px;
}
.restaurant__gallery-item--second img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
.restaurant__gallery-item--third {
  grid-area: 2/2/3/3;
  width: 230px;
  height: 153px;
}
.restaurant__gallery-item--third img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
.restaurant__button {
  width: 159px;
  height: 35px;
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-h4);
  background-color: var(--third-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  box-shadow: 0px 0px 3px 1px var(--box-shadow-one-color);
}
.restaurant__button p {
  font-size: var(--title-h4);
}
.restaurant__button svg {
  width: 20px;
  height: 20px;
  transform: scale(-1);
}
.restaurant__button:hover {
  width: 159px;
  height: 35px;
  color: var(--third-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-h4);
  background-color: var(--primary-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-our {
  margin-left: 65px;
  gap: 20px;
}

/*Delivery*/
.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.delivery__container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery__content {
  width: 60%;
  height: auto;
}
.delivery__subtitle {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: 10px;
}
.delivery__title {
  color: var(--second-color);
  font-weight: var(--font-weight-bold);
  padding-left: 100px;
}
.delivery__highlight {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
}
.delivery__description {
  color: var(--second-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--title-h5);
  max-width: 720px;
  margin-top: 25px;
  padding-left: 100px;
  height: auto;
}
.delivery__actions {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 55px;
}
.delivery__button {
  width: 159px;
  height: 50px;
  color: var(--white-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--title-h3);
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delivery__image-container {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.delivery__figure {
  width: 100%;
  height: 100%;
  max-width: 447px;
  max-height: 313px;
  display: flex;
}
.delivery__figure img {
  width: 100%;
  height: 100%;
  display: block;
}

/*Info*/
.info-section {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-section__container {
  margin: 0 auto;
}
.info-section__title {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: 25px;
}
.info-section__content {
  display: grid;
  grid-template-columns: repeat(3, 406px);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  min-height: 350px;
  justify-content: center;
}

.info-card {
  max-width: 406px;
  max-height: 376px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-card--1 {
  grid-area: 1/1/2/2;
}
.info-card--2 {
  grid-area: 1/2/2/3;
}
.info-card--3 {
  grid-area: 1/3/2/4;
}
.info-card__image {
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 80px;
  display: flex;
  position: relative;
  margin: 0 auto;
}
.info-card__image img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.info-card__overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 63px;
  bottom: 2px;
}
.info-card__text {
  color: var(--third-color);
  font-size: var(--title-h2);
  font-weight: var(--font-weight-bold);
}
.info-card__heading {
  color: var(--second-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.info-card__description {
  color: var(--second-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--title-h5);
  max-width: 350px;
  width: 100%;
}
.info-card__button {
  width: 159px;
  height: 50px;
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-h2);
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--title-h3);
  color: var(--third-color);
  font-weight: var(--font-weight-normal);
  margin-top: 30px;
  align-self: flex-end;
  margin-right: 20px;
}

.info-card:hover {
  background-color: var(--primary-color);
}
.info-card:hover .info-card__button {
  color: var(--primary-color);
  background-color: var(--third-color);
}
.info-card:hover .info-card__overlay {
  background-color: var(--third-color);
  z-index: 1;
}
.info-card:hover .info-card__text {
  color: var(--primary-color);
}
.info-card:hover .info-card__description, .info-card:hover .info-card__heading {
  color: var(--third-color);
}

/*Testimonial*/
.testimonial {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial__container {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.testimonial__subtitle {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.testimonial__title {
  color: var(--second-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.testimonial__title--highlight {
  color: var(--primary-color);
}
.testimonial__card-container {
  width: 100%;
  height: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.testimonial__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  z-index: 1;
}
.testimonial__card--off {
  opacity: 35%;
  cursor: pointer;
}
.testimonial__image {
  max-width: 100px;
  max-height: 100px;
  display: flex;
}
.testimonial__image img {
  width: 100%;
  height: 100%;
  display: block;
}
.testimonial__name {
  color: var(--second-color);
  font-weight: var(--font-weight-normal);
  text-align: center;
}
.testimonial__text {
  font-size: var(--title-h5);
  color: var(--second-color);
  font-weight: var(--font-weight-normal);
  text-align: center;
  max-width: 430px;
}
.testimonial__rating {
  max-width: 430px;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 5px;
}
.testimonial__stars {
  display: flex;
  gap: 8px;
}
.testimonial__star img {
  max-width: 20px;
  max-height: 20px;
}
.testimonial__carousel {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

/*Styles Header*/
.header {
  width: 100%;
  height: 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__info {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--third-color);
}
.header__contact {
  display: flex;
  gap: 100px;
}
.header__contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__icon {
  width: 20px;
  height: 20px;
}
.header__icon--clock {
  display: inline-block;
  background-image: url("../../assets/icons/watch_icon.png");
}
.header__icon--phone {
  display: inline-block;
  background-image: url("../../assets/icons/phone_icon.png");
}
.header__text {
  font-weight: var(--font-weight-light);
  color: var(--white-color);
}
.header__register {
  text-transform: uppercase;
  font-weight: var(--font-weight-light);
}

/*Styles nav*/
.nav {
  background-color: var(--third-color);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px var(--box-shadow-one-color);
}
.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
.nav__logo {
  max-width: 112px;
  max-height: 75px;
  width: 112px;
  height: 75px;
}
.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nav__menu-item {
  color: var(--second-color);
  font-size: var(--title-h4);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}
.nav__menu-item--cart {
  border-radius: 50%;
  background-color: var(--second-color);
  height: 60px;
  width: 60px;
  color: var(--third-color);
  position: relative;
}
.nav__cart-count {
  font-size: var(--title-h4);
  font-weight: var(--font-weight-extraBold);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.nav__icon-cart {
  position: absolute;
  height: 35px;
  width: 35px;
  display: inline-block;
  background-image: url("../../assets/icons/cart_icon.png");
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.nav__menu-item--delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  text-align: center;
}
.nav__icon-delivery {
  height: 35px;
  width: 35px;
  background-image: url("../../assets/icons/delivery.png");
}
.nav__delivery-phone {
  font-weight: var(--font-weight-normal);
  font-size: var(--paragraph-p2);
}
.nav__menu-item--login {
  width: 90px;
  height: 35px;
  color: var(--third-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-h5);
  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.footer {
  margin-top: 40px;
}
.footer__title {
  color: var(--second-color);
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding-bottom: 15px;
}
.footer__branches-color {
  background-color: var(--primary-color);
}
.footer__branches {
  min-height: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  padding: 20px;
}
.footer__branch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.footer__branch-title {
  color: var(--third-color);
  font-weight: var(--font-weight-bold);
  margin-bottom: 5px;
}
.footer__branch-address {
  color: var(--third-color);
  font-weight: var(--font-weight-medium);
  margin-bottom: 10px;
}
.footer__branch-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}
.footer__branch-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.footer__branch-icon {
  width: 20px;
  height: 20px;
}
.footer__branch-text {
  color: var(--third-color);
  font-size: var(--paragraph-p);
  font-weight: var(--font-weight-normal);
}
.footer__branch-map {
  margin-top: 10px;
  color: var(--link-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--title-h5);
  text-align: center;
}
.footer__copyright-color {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  min-height: 80px;
  text-align: center;
  color: var(--third-color);
}

/*# sourceMappingURL=style-index.css.map */
