@use "../base/variables" as *;
@use "../base/colors" as *;
@use "../base/fonts" as *;
@use "../mixins" as *;
body {
  background-color: $third-color;
}


/*Hero*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: auto;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
}

.hero__carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;

}

.hero__extras {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.hero__icon {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: cover;
  display: inline-block;
  color: $primary-color;
}


.hero__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero__dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $white-color;
  box-shadow: inset 0 0 0 2px $primary-color;
}
.hero__carousel .hero__dot--active {
  background-color: $primary-color;
  box-shadow: none;
}


/*Popular dishes*/
.popular-dishes{
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
&__content{
  text-align: center;
 }
&__subtitle{
  color: $second-color;
  font-weight: $font-weight-bold;
}
&__title{
  color: $primary-color;
  font-weight: $font-weight-bold;
}
&__gallery{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
&__image{
  max-width: 230px;
  max-height: 120px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 8px $box-shadow-one-color;

}
&__image img{
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
&__link:hover{
  transform: scale(1.1);
}

}

/*RICH & HEALTHY*/
.rich-health{
  margin-top: 50px;
  &__container{
    margin: 0 auto;
    
  }
  &__header{
    text-align: center;
  }
  &__title{
    font-size: $title-h4;
    font-weight: $font-weight-bold;
    color: $second-color;
  }
  &__content{
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 0.7fr;
    grid-template-rows: 100px 110px 1fr 1fr;
    grid-column-gap: 30px;
    max-height: 600px;
    margin-top: 15px;
  }
  &__heading { 
    grid-area: 1 / 2 / 2 / 3;
    font-size: $title-h2;
    font-weight: $font-weight-bold;
    color: $primary-color;
    text-wrap: balance;  
  }
  &__description { 
    grid-area: 2 / 2 / 3 / 4; 
    font-size: $title-h3;
    font-weight: $font-weight-normal;
    color: $second-color;
     
    width: 700px;
    max-width: 80%;
  }

  
  
  &__list { grid-area: 3 / 2 / 4 / 3; 
  &-item{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    margin-top: 22px;
  }
  }
  &__icon{
    color: $primary-color;
    width: 20px;
    height: 20px;
    fill:$primary-color;
  }
  &__item-description{
    color: $second-color;
    font-size: $title-h3;
    font-weight: $font-weight-normal;
  }
  
  &__btn { grid-area: 4 / 2 / 5 / 3; 
    @include button-style(300px, 60px,$white-color , $font-weight-bold, $title-h2, $primary-color, 20px);
    align-self: center;
    justify-self: center;
  }
 
  &__image { grid-area: 3 / 3 / 5 / 4; 
   img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
   }
  }
  &__aside { grid-area: 1 / 1 / 5 / 2; 
  img{
    width: 100%;
    max-width: 361px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
  }
  }
}

/*Bigg offer*/

.big-offer{
  margin-top: 50px;
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    gap: 15px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  &__title{
    font-size: $title-h1;
    color: $primary-color;
    font-weight: $font-weight-extraBold;
    font-style: italic;
  }
  &__description{
    font-size: $title-h4;
    color: $second-color;
    font-weight: $font-weight-bold;
  }
}


/*SPECIALS MENU*/
.menu{
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  
  &__header{
    text-align: center;
  }
  &__subtitle{
    color: $primary-color;
    font-size: $title-h4;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__title{
    color: $second-color;
    font-size: $title-h2;
    font-weight: $font-weight-bold;
    margin-bottom: 10px;
  }
  &__description{
    color: $second-color;
    font-size: $paragraph-p2;
    font-weight: $font-weight-normal;
    margin-bottom: 10px;

  }
  &__categories{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }
  &__category{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;    
    height: 100%;
  }
  &__category--border-left{
    border-left: 1px solid black;
  }
  &__category-title{
    font-weight: $font-weight-normal;
    color: $primary-color;
  }
  &__category-title--active{
    @include button-style(100%, 60px,$white-color , $font-weight-normal, $title-h3, $primary-color, 0px);
  }
  &__items{
    margin-top: 22px;
    display: grid;
    grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }



  &__arrow--right { grid-area: 1 / 1 / 2 / 2; }
  &__arrow--left { grid-area: 1 / 4 / 2 / 5; }
  &__preview { grid-area: 1 / 2 / 2 / 3; }
  
  /*List menu*/
  &__list { grid-area: 1 / 3 / 2 / 4; 
  max-width: 506px;
  width: 506px;
  }
  &__item{
  margin-top: 15px;
  }
  &__item-title{
    color: $primary-color;
    font-weight: $font-weight-normal;
    font-size: $title-h3;
    
  }
  &__item-description{
    color: $second-color;
    font-weight: $font-weight-normal;
    font-size: $title-h5;
    margin-top: 5px;
  }
  &__item-footer{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: baseline;
    gap:5px;
  }
  &__item-separator{
    height: 2px;
    display: inline-block;
    width: 100%;
    border-bottom: 2px dashed $primary-color;
    top: 0;
  }
  &__item-price{
    color: $primary-color;
    font-size: $title-h4;
   font-weight: $font-weight-bold;
  }

  
  &__preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-img{
      max-width: 489px;
      max-height: 615px ;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-overlay{
      cursor: pointer;
      width: 489px;
      max-width: 489px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 25px;    
      background-color: $primary-color;
      color: $third-color;
      
    }
    &-text{
      flex: 1;
      text-align: center;
    }
    &-icon{
      width: 40px;
      height: 40px;
      color: $third-color;
    
    }
  }


  &__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
      
    & svg{
      cursor: pointer;
    }
    &--left svg{
      transform: scaleX(-1);    
     }
  }
}

/*Specials menu*/
.specials{
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  


  &__title{
    text-align: center;
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 33px;
  }
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    cursor: pointer;
  
    color: $primary-color;
    box-shadow: 0px 0px 8px 1px $box-shadow-one-color;


    
    &-description{
      color: unset;
      font-size: $title-h3;
      font-weight: $font-weight-normal;
      text-align: center;
    }
    &-img{
      width: 108.3px;
      height: 86px;
      border-radius: 10px;
    }
  }
  &__item:hover{
    background-color: $primary-color;
    color: $third-color;
  }
 

}


/*Our Restaurant*/
 .restaurant{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  &__container{
    display: grid;
    grid-template-columns: repeat(2, 235px) 2fr;
    grid-template-rows: 40px repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
 &__subtitle{
  grid-area: 1 / 3 / 2 / 4;
  color: $primary-color;
  font-size: $title-h4;
  font-weight: $font-weight-bold;
  align-self: end;
 }
 &__title{
  color: $second-color;
  font-size: $title-h2;
  font-weight: $font-weight-bold;
  max-width: 509px;
 }
&__description{
  color: $second-color;
  font-size: $title-h5;
  font-weight: $font-weight-normal;
  max-width: 710px;
}

 &__all{
  grid-area: 2 / 3 / 3 / 4;
 }

 &__highlight-title{
  color: $primary-color;
  font-size: $title-h2;
  font-weight: $font-weight-bold;
 }
 &__highlight-text{
  color: $second-color;
  font-size: $title-h5;
  font-weight: $font-weight-normal;
  max-width: 640px;
 }
 
 &__highlight-one{
  grid-area: 3 / 3 / 4 / 4;
 }
 &__highlight-second{
  grid-area: 4 / 3 / 5 / 4;
 }

 &__highlight-second,&__highlight-one{
  display: flex;
 
 }
 &__highlight-img {
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $primary-color;
 }
 &__highlight-img img{
  width: 50px;
  height: 50px;
 }
 &__highlight-second{
  grid-area: 4 / 3 / 5 / 4;
 }


&__gallery-item{
  display: flex;
  justify-content: center;
  align-items: center;

  &--one{
    grid-area: 3 / 1 / 5 / 3;
    width: 470px;
    height: 320px;
  }
  &--one img{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
  }
  &--second{
    grid-area: 2 / 1 / 3 / 2;
    width: 230px;
    height: 153px;
  }
  &--second img{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
  }
  &--third {
    grid-area: 2 / 2 / 3 / 3;
    width: 230px;
    height: 153px;
  }
  &--third img{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
  }
}


&__button{
  @include button-style(159px, 35px,$primary-color ,$font-weight-bold, $title-h4, $third-color, 25px);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  box-shadow: 0px 0px 3px 1px $box-shadow-one-color;


  & p{
    font-size: $title-h4;
  }
  & svg {
    width: 20px;
    height: 20px;
    transform: scale(-1);
  }
  
}
&__button:hover{
  @include button-style(159px, 35px, $third-color, $font-weight-bold, $title-h4, $primary-color, 25px);
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
}

.margin-our{
  margin-left: 65px;
  gap: 20px;
}




/*Delivery*/


.delivery{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  &__container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content{
    width: 60%;
    height: auto;
  }
  &__subtitle{
    color: $primary-color;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: 10px;
  }
  &__title{
    color: $second-color;
    font-weight: $font-weight-bold;
    padding-left: 100px;
  }
  &__highlight{
    color: $primary-color;
    font-weight: $font-weight-bold;
  }
  &__description{
    color: $second-color;
    font-weight: $font-weight-normal;
    font-size: $title-h5;
    max-width: 720px;
    margin-top: 25px;
    padding-left: 100px;
    height: auto;
  }
  &__actions{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 55px;
  }

  &__button{
    @include button-style(159px, 50px,$white-color , $font-weight-normal, $title-h3, $primary-color, 10px);

  }


  &__image-container{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: flex-start;
  }



  &__figure{
    width: 100%;
    height: 100%;
    max-width: 447px;
    max-height: 313px;
    display: flex;
  }
  &__figure img{
    width: 100%;
    height: 100%;
    display: block;
  }
}
  


/*Info*/
.info-section{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container{
    margin: 0 auto;
  }
  &__title{
    color: $primary-color;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-bottom: 25px;
  }
  &__content{
    display: grid;
  grid-template-columns: repeat(3, 406px);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  min-height: 350px;
  justify-content: center;
  }
}

.info-card{
  max-width: 406px;
  max-height: 376px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--1{
    grid-area: 1 / 1 / 2 / 2;
  }
  &--2{
    grid-area: 1 / 2 / 2 / 3;
  }
  &--3{
    grid-area: 1 / 3 / 2 / 4;
  }
  
  &__image{
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    display: flex;
    position: relative;
    margin: 0 auto;
  }
  &__image img{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
  }

  &__overlay{
    position: absolute;
    width:100px ;
    height: 100px;
    border-radius: 50%;
    background-color:$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 63px;
    bottom: 2px;
  }
  &__text{
    color: $third-color;
    font-size: $title-h2;
    font-weight: $font-weight-bold;
  }
  &__heading{
    color: $second-color;
    font-weight: $font-weight-bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  &__description{
    color: $second-color;
    font-weight: $font-weight-normal;
    font-size: $title-h5;
    max-width: 350px;
    width: 100%;
  }
  &__button{
    @include button-style(159px, 50px,$white-color, $font-weight-bold, $title-h2, $primary-color, 10px);
    font-size: $title-h3;
    color: $third-color;
    font-weight: $font-weight-normal;
    margin-top: 30px;
    align-self: flex-end;
    margin-right: 20px;
  }
  
}

.info-card:hover{
  background-color: $primary-color;
  
 & .info-card__button{
  color:$primary-color;
  background-color: $third-color;
 }
 
 & .info-card__overlay{
  background-color: $third-color;
  z-index: 1;
 }
 & .info-card__text{
  color: $primary-color;
 }
 & .info-card__description,.info-card__heading{
  color: $third-color;
 }
 
}



/*Testimonial*/
.testimonial{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container{
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  &__subtitle{
    color: $primary-color;
    font-weight: $font-weight-bold;
    text-align: center;
    
  }
  &__title{
    color: $second-color;
    font-weight: $font-weight-bold;
    text-align: center;
    &--highlight{
      color: $primary-color;
    }
  }

  &__card-container{
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  &__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    z-index: 1;
    &--off{
      opacity: 35%;
      cursor: pointer;
    }
  }
  
  &__image{
    max-width: 100px;
    max-height: 100px;
    display: flex;

  }
  &__image img{
    width: 100%;
    height: 100%;
    display: block;
  }
  &__name{
    color: $second-color;
    font-weight: $font-weight-normal;
    text-align: center;
  }
  &__text{
    font-size: $title-h5;
    color: $second-color;
    font-weight: $font-weight-normal;
    text-align: center;
    max-width: 430px;
  }
  &__rating{
    max-width: 430px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 5px;
  }
  &__stars{
    display: flex;
    gap:8px;
    
  }
  &__star img{
    max-width: 20px;
    max-height: 20px;
  }

  &__carousel{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }
}