@use '../base/colors' as *;
@use '../base/variables' as *;
@use '../base/fonts' as *;


.footer{
    margin-top: 40px;

    &__title{
        color: $second-color;
        font-weight: $font-weight-bold;
        text-align: center;
        padding-bottom: 15px;
    }
    &__branches-color{
        background-color: $primary-color;
    }
    &__branches{      
        min-height: 179px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
        padding: 20px;
    }
    &__branch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        height: auto;
        &-title{
            color: $third-color;
            font-weight: $font-weight-bold;
            margin-bottom: 5px;
        }
        &-address{
            color: $third-color;
            font-weight: $font-weight-medium;
            margin-bottom: 10px;
        }
        &-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 35px;
                   
        }
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        &-icon{
            width: 20px;
            height: 20px;
        }
        &-text{
            color: $third-color;
            font-size: $paragraph-p;
            font-weight: $font-weight-normal;
        }
        &-map{
            margin-top: 10px;
            color: $link-color;
            font-weight: $font-weight-normal;
            font-size: $title-h5;
            text-align: center;
        }
    }
    &__copyright-color{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $second-color;
        min-height: 80px;
        text-align: center;
        color: $third-color;
    }
   
}