.footer{
    margin-top: 40px;

    &__title{
        color: var(--second-color);
        font-weight: var(--font-weight-bold);
        text-align: center;
        padding-bottom: 15px;
    }
    &__branches-color{
        background-color: var(--primary-color);
    }
    &__branches{      
        min-height: 179px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
        padding: 20px;
    }
    &__branch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        height: auto;
        &-title{
            color: var(--third-color);
            font-weight: var(--font-weight-bold);
            margin-bottom: 5px;
        }
        &-address{
            color: var(--third-color);
            font-weight: var(--font-weight-medium);
            margin-bottom: 10px;
        }
        &-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 35px;
                   
        }
        &-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        &-icon{
            width: 20px;
            height: 20px;
        }
        &-text{
            color: var(--third-color);
            font-size: var(--paragraph-p);
            font-weight: var(--font-weight-normal);
        }
        &-map{
            margin-top: 10px;
            color: var(--link-color);
            font-weight: var(--font-weight-normal);
            font-size: var(--title-h5);
            text-align: center;
        }
    }
    &__copyright-color{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--second-color);
        min-height: 80px;
        text-align: center;
        color: var(--third-color);
    }
   
}