@use '../base/colors' as *;
@use '../base/variables' as *;
@use '../base/fonts' as *;
/*Styles Header*/

.header{
    width: 100%;
    height: 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__info{     
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--third-color);
    }
    &__contact{
        display: flex;
        gap: 100px;
    }
    &__contact-item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    &__icon{
        width: 20px;
        height: 20px;
        &--clock{
            display: inline-block;
            background-image: url('../../assets/icons/watch_icon.png');
        }
        &--phone{
            display: inline-block;
            background-image: url('../../assets/icons/phone_icon.png');
        }
    }
    &__text{
        font-weight: var(--font-weight-light);
        color: var(--white-color);
    }
    &__register{
        text-transform: uppercase;
        font-weight: var(--font-weight-light);
    }
   
}
