@use "../base/colors" as *;
@use "../base/variables" as *;
@use "../base/fonts" as *;
@use "../mixins" as *;
/*Styles nav*/
.nav {
  background-color: var(--third-color);
  height: 119px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &__container {
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }
  &__logo {
    max-width: 112px;
    max-height: 75px;
    width: 112px;
    height: 75px;
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    &-item {
      color: var(--second-color);
      font-size: var(--title-h4);
      font-weight: var(--font-weight-bold);
      cursor: pointer;
    }
  }
  &__menu-item--cart {
    border-radius: 50%;
    background-color: var(--second-color);
    height: 60px;
    width: 60px;
    color: var(--third-color);
    position: relative;
  }
  &__cart-count {
    font-size: var(--title-h4);
    font-weight: var(--font-weight-ExtraBold);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__icon-cart {
    position: absolute;
    height: 35px;
    width: 35px;
    display: inline-block;
    background-image: url("../../assets/icons/cart_icon.png");
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__menu-item--delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-align: center;
  }
  &__icon-delivery{
    height: 35px;
    width: 35px;
    background-image: url('../../assets/icons/delivery.png');
  }
  &__delivery-phone{
    font-weight: var(--font-weight-normal);
    font-size: var(--paragraph-p2);
  }
  &__menu-item--login{
    @include button-style(90px, 35px, var(--third-color), var(--font-weight-bold), var(--title-h5), var(--primary-color), 10px);
    margin-left: 12px;
  }
}
