@use '../base/variables' as *;
@use '../base/colors' as *;
@use '../base/fonts' as *;
@use '../mixins' as *;
@use '../base/normalize' as *;


.hero__container{
    display: grid;
    grid-template-columns: 0.2fr repeat(2, 1fr);
    grid-template-rows: 4fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: auto;
    margin-top: 25px;
}
    
.hero__header{ grid-area: 1 / 2 / 2 / 3; }
.hero__cta { grid-area: 2 / 2 / 3 / 3; }
.hero__image { grid-area: 1 / 3 / 3 / 4; }



.hero__subtitle{
    color:$primary-color;
    font-size: $title-h4;
    font-weight: $font-weight-medium;
}

.hero__title{
    margin-top: 8px;
    color:$second-color;
    font-size: $title-h1;
    font-weight: $font-weight-medium;
    text-wrap: balance;  
    margin-left: 10px;
    font-style: italic;
}

.hero__highlight{
    color:$primary-color;
}

.hero__image{
    max-width: 438px;
    max-height: 292px;
    justify-self: center;
}

.hero__image img{
    width: 100%;
    height: 100%;
}

.hero__cta{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
}

.hero__button{
    @include button-style(200px, 60px, $third-color, $font-weight-bold, $title-h2, $primary-color, 10px);
}

.hero__price{
    font-weight: $font-weight-normal;
    font-size: $title-h3;
    color: $second-color;
}



 