/*typography fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*CSS FONTS*/
:root {
    --primary-font: "Roboto", serif;
  
    /* Typography Size */
    --title-h1: 50px;
    --title-h2: 35px;
    --title-h3: 25px;
    --title-h4: 20px;
    --title-h5: 18px;
    --title-h6: 16px;
    --paragraph-p: 12px;
    --paragraph-p2: 14px;
  
    /* Typography Weight */
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extraBold: 800;
    --font-weight-black: 900;
  }

$primary-font: var(--primary-font);

$title-h1: var(--title-h1);
$title-h2: var(--title-h2);
$title-h3: var(--title-h3);
$title-h4: var(--title-h4);
$title-h5: var(--title-h5);
$title-h6: var(--title-h6);
$paragraph-p: var(--paragraph-p);
$paragraph-p2: var(--paragraph-p2);

$font-weight-thin: var(--font-weight-thin);
$font-weight-light: var(--font-weight-light);
$font-weight-normal: var(--font-weight-normal);
$font-weight-medium: var(--font-weight-medium);
$font-weight-bold: var(--font-weight-bold);
$font-weight-extraBold: var(--font-weight-extraBold);
$font-weight-black: var(--font-weight-black);